# Files
*.DS_Store
*.csv
*.pkl
*.sav
*.bin

# Directories
sampledata
Drafts
Sentence Transformers
Archive
Similarity (Semantic Search)/Sample_jsons/
Django/
Similarity (Semantic Search)/deploy draft.ipynb


# Hidden train data and files
Training/Tokenizer/
Training/model/
