# Files
*.DS_Store
*.csv
*.pkl
*.sav

# Directories
sampledata
Drafts
Sentence Transformers

Similarity (Semantic Search)/draft.ipynb
Similarity (Semantic Search)/draft2.ipynb
Similarity (Semantic Search)/draft.ipynb
